.App {
  text-align: center;
  width: 80vw;
  background-color: rgb(204, 223, 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  border-radius: 40px;
}


/* .inp{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.inp input{
  width: 15vw;
} */



